[submodule ".vim/vim-addons/vim-ruby"]
	path = .vim/vim-addons/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/vim-addons/vim-rails"]
	path = .vim/vim-addons/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/vim-addons/snipmate-snippets"]
	path = .vim/vim-addons/snipmate-snippets
	url = git@github.com:tualatrix/snipmate-snippets.git
[submodule ".vim/vim-addons/snipmate"]
	path = .vim/vim-addons/snipmate
	url = git@github.com:tualatrix/vim-snipmate.git
